@charset "uft-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titan+One');
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Titan One', cursive;
  background-color: #333;
}
.game {
  max-width: 600px;
  width: 100%;
  padding: 0 2em;
  box-sizing: border-box;
  text-align: center;
}
.game-title {
  color: #fff;
  font-size: 3em;
  text-shadow: 7px 5px 2px #ef8899, -7px -5px 2px #99bbef;
}
.puzzle-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border: 10px solid #99bbef;
  background-color: #99bbef;
  box-sizing: border-box;
}
.box {
  width: calc(25% - 4px);
  height: calc(25% - 4px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  box-sizing: border-box;
}
.puzzle {
  background-color: #ef8899;
  color: white;
  text-shadow: 0 0 7px #992233;
  box-shadow: 1px 1px 3px #7a9ed3;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.blank {
  background-color: transparent;
}
.box[data-idx] {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
}
.box[data-idx='0'] {
  transform: translate(0, 0)
}
.box[data-idx='1'] {
  transform: translate(calc(100% + 4px), 0)
}
.box[data-idx='2'] {
  transform: translate(calc(200% + 8px), 0)
}
.box[data-idx='3'] {
  transform: translate(calc(300% + 12px), 0)
}
.box[data-idx='4'] {
  transform: translate(0, calc(100% + 4px))
}
.box[data-idx='5'] {
  transform: translate(calc(100% + 4px), calc(100% + 4px))
}
.box[data-idx='6'] {
  transform: translate(calc(200% + 8px), calc(100% + 4px))
}
.box[data-idx='7'] {
  transform: translate(calc(300% + 12px), calc(100% + 4px))
}
.box[data-idx='8'] {
  transform: translate(0, calc(200% + 8px))
}
.box[data-idx='9'] {
  transform: translate(calc(100% + 4px), calc(200% + 8px))
}
.box[data-idx='10'] {
  transform: translate(calc(200% + 8px), calc(200% + 8px))
}
.box[data-idx='11'] {
  transform: translate(calc(300% + 12px), calc(200% + 8px))
}
.box[data-idx='12'] {
  transform: translate(0, calc(300% + 12px))
}
.box[data-idx='13'] {
  transform: translate(calc(100% + 4px), calc(300% + 12px))
}
.box[data-idx='14'] {
  transform: translate(calc(200% + 8px), calc(300% + 12px))
}
.box[data-idx='15'] {
  transform: translate(calc(300% + 12px), calc(300% + 12px))
}
.move-wrap {
  margin: 1.5em 0;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.move {
  color: #ffff00;
}
[class^='btn'] {
  margin: 0.3em;
  padding: 0.5em 0.8em;
  font-size: 1.2em;
  background-color: transparent;
  cursor: pointer;
}
.btn-shuffle {
  border: 2px solid #99bbef;
  border-right-color: #5996f0;
  border-bottom-color: #5996f0;
  color: #99bbef;
}
.btn-reset {
  border: 2px solid #ef8899;
  border-right-color: #e7526b;
  border-bottom-color: #e7526b;
  color: #ef8899;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #333;
  background-image: 
  radial-gradient(ellipse at 0% 0%, #ef8899, #ef8899 40%, transparent 40%),
  radial-gradient(ellipse at 100% 100%, #99bbef, #99bbef 40%, transparent 40%);
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.5s;
}
.end .modal{
  opacity: 1;
  transform: scale(1);
}
.modal h2 {
  color: #fff;
  margin: 0 0 0.2em;
  font-size: 4em;
  text-shadow: 7px 5px 2px #ef8899, -7px -5px 2px #99bbef;
}
.btn-again {
  border: 2px solid #e8eb6c;
  border-right-color: #f5b400;
  border-bottom-color: #f5b400;
  color: #e8eb6c;
}
@media all and (max-width: 768px) {
  .modal h2 {
    font-size: 2em;
  }
}